/* Start Global Rules  */

:root {
    --main-color: red;
    --main-color-alt: #ff1111;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* End Global Rules  */